p i {
  color:red
}

.line {
  text-decoration: underline;
}

.links a {
  text-decoration: none;
}

[href^="http://"]
{
  color:red;
}

a {
  color:green
}

.line {
  color:grey;
}

b {
  color:purple
}

.odd .line {
  color:blue
}

.odd i {
  text-decoration: underline;
}

.even b {
  text-decoration: underline;
}

a[href*=".com"]
{
  color:black
}
